body{
    background: rgb(241, 241, 55);
}
.principal{
    background: white;  
    text-align: center; 
}
img{
    width: 50%;
}
.segundo{
    background: rgb(248, 143, 23);
    text-align: center;
}
.tercero{
    background: greenyellow;
    text-align: center;
}
.manrope {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}